# Core Django
Django>=5.1,<5.2
django-environ
psycopg2-binary
django-extensions

# API
djangorestframework
djangorestframework-simplejwt
django-cors-headers

# Cache
redis
django-redis

# Elasticsearch
elasticsearch>=8.0.0

# Queue
celery
django-celery-results
django-celery-beat

# Auth
django-allauth
dj-rest-auth
django-two-factor-auth
django-otp

# Admin
django-jazzmin

# Frontend
django-htmx
django-compressor

# Realtime
channels[daphne]
channels-redis

# Payments
stripe
# payme-pkg  ← TEST uchun olib tashlash tavsiya

# AI
openai
langchain
tiktoken

# Storage
django-storages[boto3]
whitenoise

# Monitoring
sentry-sdk
django-prometheus

# Production
gunicorn
Pillow
python-dotenv
argon2-cffi