# Core Django
Django>=5.1,<5.2
django-environ
psycopg2-binary
django-extensions

# API
djangorestframework
djangorestframework-simplejwt
django-cors-headers

# Database & Cache
redis
django-redis

# Elasticsearch (SAFE version)
elasticsearch>=8.0.0

# Async & Queue
celery
django-celery-results
django-celery-beat

# Auth
django-allauth
dj-rest-auth
django-two-factor-auth
django-otp

# Admin UI
django-jazzmin

# Frontend
django-htmx
django-compressor
sass   # ❌ libsass o‘rniga

# Realtime
channels[daphne]
channels-redis

# Payments
stripe
payme-pkg

# AI
openai
langchain
tiktoken

# Storage
django-storages[boto3]
whitenoise

# Monitoring
sentry-sdk
django-prometheus

# Production
gunicorn
Pillow
python-dotenv
